<h1>Users#edit</h1>
<p>UPDATE YOUR PROFIL</p>


<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :city %>
   <%= f.button :submit, class: "btn-primary" %>

<% end %>



