<h1>User Profil</h1>



<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :city %>
  <%= f.button :submit, class: "btn-primary" %>

  <%= link_to "Change your password", edit_user_registration_path %>

<% end %>



