<div class="container">
<h1>Ajouter un buddy</h1>

<%= simple_form_for @escort, html: {class: "form-solitude"} do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, label: "Nom", placeholder: 'Nom' %>
  <%= f.input :city, label: "Ville", placeholder: 'Ville' %>
  <%= f.input :age, placeholder: 'Age' %>
  <%= f.input :available_dates, label: "Disponibilité", placeholder: "Disponibilité" %>
  <%= f.input :size, label: "Taille", placeholder: 'Taille' %>
  <%= f.input :origin, include_blank: "Choisir", label: "Origine", collection: Escort::AUTHORIZED_ORIGIN %>
  <%= f.input :price_per_day, label: "Prix par jour", placeholder: 'Prix/jour' %>
  <%= f.input :hair_color, label:"Couleur de cheveux", as: :radio_buttons, collection: ["Blond", "Brun", "Roux", "Noir"],wrapper: :vertical_collection_inline %>
  <%= f.input :gender, label: "Genre", as: :radio_buttons, collection: ["Homme", "Femme"] %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>


  <%= f.button :submit, value: "Créer", class: "btn-principal", style: "margin-bottom:10px;" %>

<% end %>

</div>
