<div class="container">
      <div>
      <%= cl_image_tag @escort.photo, alt: "alttext", style: "width: 400px; border-radius:10px; margin-bottom:10px" %>
      </div>
      <h1 style="display:inline; padding-right:10px;"><%= @escort.name.capitalize %></h1> <%= link_to "Reserver", "#", class: "btn-principal"%>
      <ul style="margin: 20px 0">
        <li><%= @escort.age %> ans</li>
        <li><%= @escort.city %></li>
        <li><%= @escort.size %>cm</li>
        <li><%= @escort.origin %></li>
        <li>Cheveux: <%= @escort.hair_color %></li>
        <li><%= @escort.price_per_day %> €/jour</li>
      </ul>
</div>

 <div
    id="map"
    class="no-sticky"
    style="width: 500px; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
