<div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class= "c-show">
            <div>
             <%= cl_image_tag @escort.photo, alt: "alttext", class: "avatar-large  " %>
      <!-- style: "object-fit: cover; height: 200px; width: 400px; border-radius:10px; margin-bottom:10px" -->
             </div>

            <h1 style="display:inline; padding-right:10px;"><%= @escort.name.capitalize %></h1>
              <p><%= @escort.city %></p>

              <div class= "criteria-title my-3">
                <p>AGE</p>
                <p>PRIX</p>
                <p>TAILLE</p>
              </div>
              <div class= "criteria">
               <p> <%= @escort.age %> ans</p>
               <p>  <%= @escort.price_per_day %> €/jour</p>
               <p>  <%= @escort.size %> cm</p>
              </div>
            <div class= "reserver"> <%= link_to "RESERVER", escort_bookings_path(@escort), :method => :post, class: "btn-principal"%></div>
          </div>
        </div>

    <div class="col-12 col-lg-6">
      <div
        id="map"
        class="no-sticky"
        style="width: 500px; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
     <div>
</div>

