<div class="banner">
  <div class="container">
    <div class="card-home">
      <h1>Trouvez le buddy idéal pour votre prochain événement.</h1>
      <%= simple_form_for :search, url: escorts_path, method: :get do |f| %>
        <%= f.input :city, label: "Ville", value: params[:city]%>
        <%= f.input :available_dates, as: :string, label: "Date de réservation", required: false, input_html: {class: "datepicker"} %>
        <%= f.input :gender, include_blank: "Choisir", label: "Genre", collection: ["Homme", "Femme"], value: params[:gender] %>
        <%= f.button :submit, "C'est parti", class: "btn-principal" %>
      <% end %>
    </div>
  </div>
</div>

